body{
background-color: rgb(15, 14, 14);
}
.navbar-brand{
    font-family: monospace;
}
.accordion-body{
    font-family: monospace; 
}
.figure-caption{
    font-family: monospace; color: rgb(255, 255, 255);
}

